@import url("./github-markdown.css");

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  color: #F7F7F7;
  display: flex;
}
.left{
  flex-grow:1;
  flex-basis:0;
}
.right{
  flex-grow:1;
  flex-basis:0;
}
.fs-14{
  font-size: 14px;
}
.about{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.white {
  color: #F7F7F7;
}
.primary050 {
  color: #F2E7FE;
}
.primary200 {
  color: #BB86FC;
}
.circle {
  display: inline-block;
  margin-right:10px;
  width: 8px; 
  height: 8px;
  border-radius: 8px;
  background-color:#DBB2FF;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}